@charset "utf-8";
h1 {
	color: #F8070B;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: italic;
	text-decoration: underline;
	text-align: center;
}
