@charset "utf-8";
.dotpoint {
}
h1 {
	color: #F7060A;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: xx-large;
	font-weight: 900;
	font-variant: normal;
	font-style: italic;
	text-decoration: underline;
}
